certifi
charset-normalizer
colorama
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
PyYAML
regex
requests
safetensors
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3